/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-abr-2014, 1:16:35
    Author     : Opterman
*/

.wrapper
{
  padding: 0;
  margin: 2em;
  float: left;
  height: 36em;
  display: table;
  width: 20.25em;
  border-radius: 4px;
  border: 2px #888888 outset;
  box-shadow: 0px 0px 5px 2px #000000;
}

#game-over
{
  padding: 0;
  float: left;
  z-index: 100;
  height: 12em;
  display: table;
  width: 20.25em;
  position: absolute;
  border-bottom: 1px #888888 outset;
  box-shadow: 0px 0px 2px 0px #000000;
  background: url(../img/back.png) repeat;
}

#game-over h2
{
  color: #ddd;
  font-size: 2.5em;
  font-weight: bolder;
  font-family: DigitaldreamFatRegular;
  text-shadow: 3px 3px 3px rgba(40, 40, 40, 1);
}

#game-over h3
{
  color: cyan;
  cursor: pointer;
  margin: 2em auto;
  font-size: 1.5em;
  font-weight: bold;
  font-family: DigitaldreamFatRegular;
  text-shadow: 3px 3px 2px rgba(20, 60, 20, 1);
}

#game-over h3:hover, #game-over h3:active
{
  transform: scale(0.8, 0.8);
  text-shadow: 2px 2px 1px rgba(20, 60, 20, 0.7);
}

#game-wrapper .row
{
  margin: 0;
  width: 20em;
}

#game-info
{
  padding: 2em;
}

#game-info span
{
  color: #ddd;
  font-size: 2em;
  font-weight: bolder;
  font-family: DigitaldreamFatRegular;
  text-shadow: 3px 3px 3px rgba(40, 40, 40, 1);
}

#game-lines, #game-score, #game-level
{
  color: #ddd;
  font-size: 1.5em;
  font-weight: bolder;
  font-family: DigitaldreamFatRegular;
  text-shadow: 3px 3px 3px rgba(40, 40, 40, 1);
}

#game-next-token
{
  width: 8em;
  margin: 1em auto;
}

#game-token-container
{
  margin-bottom: 2em;
  border-radius: 4px;
  border: 2px #888888 outset;
  box-shadow: 0px 0px 5px 2px #000000;
}

.game-item
{
  width: 2em;
  height: 2em;
  float: left;
  transform: rotate(0deg);
  box-shadow: inset 0px 0px 10px rgba(24,64,55,0.5);
}

.game-item-active
{
  background-size: 100% 100%;
  box-shadow: 0 !important;
}